*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: #f4f6f8;
}
nav{
    background-color: #1e293b;
    padding: 15px;
    text-align: center;
    width: 100vm;
    margin: 0;
    position: relative;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
nav a{
    color: #cbd5e1;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    padding: 6px 10px;
    border-radius: 5px;
    transition: all 0.25s ease;
}
nav a:hover{
    color: #ffffff;
    background-color: rgba(255,255,255,0.1);
}
nav a.active{
    color: #ffffff;
    background-color: #2563eb;
}
main{
    padding: 20px;
}
h1,h2{
    color: #1e293b;
    margin-bottom: 15px;
}
ul{
    list-style: none;
    padding: 0;
}
li span:hover{
    text-decoration: underline;
}
form {
    max-width: 500px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.12);
    margin: 60px auto;
}
button {
    background-color: #2563eb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: #1e40af;
}
button+button{
    margin-left: 10px;
}
input, select{
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #cbd5e1;
    font-size: 15px;
}
form h2{
    text-align: center;
    margin-bottom: 25px;
}
form button{
    display: block;
    margin: 20px auto 0;
    min-width: 180px; 
}
main h1{
    max-width: 900px;
    margin: 0 auto 20px;
}
main ul{
    max-width: 900px;
    margin: 0 auto;
}
main ul li{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #ffffff;
    padding: 16px 20px;
    margin-bottom: 14px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    font-size: 15px;
    color: #1e293b;
}
main ul li span{
    font-weight: bold;
    font-size: 16px;
    color: #1e293b;
}
main ul li{
    line-height: 1.6;
}
main ul li:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.12);
    background-color: #f8fafc;
}
main p{
    text-align: center;
    margin-top: 60px;
    font-size: 16px;
    color: #64748b
}